In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

iris = load_iris()
dfiris = pd.DataFrame(iris['data'],
                     columns = iris['feature_names'])

In [3]:
dfiris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [41]:
dfiris['target'] = iris['target']
dfiris['jenis'] = dfiris['target'].apply(
        lambda x : iris['target_names'][x])
dfiris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,jenis
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [42]:
#coba dengan split train 80 %
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(
            dfiris[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']],
            dfiris['jenis'],
            test_size = .2)

In [43]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

#train model
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [44]:
#prediksi
prediksi = model.predict([x_test.iloc[0]])
aktual = y_test.iloc[0]
print(prediksi)
print(aktual)

['versicolor']
versicolor

In [45]:
#akurasi
print(model.score(x_train,y_train)*100,'%')
print(model.score(x_test,y_test)*100,'%')

100.0 %
90.0 %