In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.datasets import load_diabetes
from sklearn import linear_model

In [3]:
datadiabet = load_diabetes()

In [4]:
dir(datadiabet)

['DESCR',
 'data',
 'data_filename',
 'feature_names',
 'target',
 'target_filename']

In [5]:
diabet = pd.DataFrame (
        datadiabet['data'],
        columns = datadiabet['feature_names']
)

In [8]:
diabet['guladarah'] = datadiabet['target']
diabet.head(5)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,guladarah
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [9]:
datadiabet['feature_names']

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [11]:
model = linear_model.LinearRegression()
#train
model.fit(diabet[
    ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
],diabet.guladarah)

print(model.coef_)
print(model.intercept_)

[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]
152.1334841628965

In [12]:
diabet.head(1)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,guladarah
0,0.038076,0.05068,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0

In [13]:
print(model.predict([[0.038076,0.05068,0.061696,0.02187,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646]]))

[206.11544118]

In [25]:
#akurasi
model.score(diabet[
    ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
],diabet.guladarah)

0.5177494254132934