In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [14]:
iris = load_iris()

In [15]:
print(dir(iris))
print(iris['data'][0])
print(iris['feature_names'])
print(iris['target'][0])
print(iris['target_names'][0])

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']
[5.1 3.5 1.4 0.2]
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
0
setosa

In [33]:
df = pd.DataFrame(
                iris['data'],
                columns = iris['feature_names'])
df['target'] = iris['target']
df['jenis'] = df['target'].apply(lambda x: iris['target_names'][x]) #anonimous funct
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,jenis
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [47]:
#train split 

x_train,x_test,y_train,y_test=train_test_split(
            df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']], #sudah 2 dimensi
            df['jenis'],
            test_size = .1)

print(len(x_train))
print(len(x_test))

135
15

In [48]:
#logistic regression


from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs')

In [49]:
#training model
model.fit(x_train,y_train)

c:\users\blazt\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
akurasi =model.score(x_train,y_train)
print(akurasi)

0.9481481481481482

In [51]:
x_test.iloc[0:1]

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
65                6.7               3.1                4.4               1.4

In [54]:
prediksi = model.predict(x_test.iloc[0:1])
prediksi

array(['versicolor'], dtype=object)

In [55]:
#nilai benernya
print(y_test[0:1])

65    versicolor
Name: jenis, dtype: object

In [61]:
x_test.iloc[0:1]

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
65                6.7               3.1                4.4               1.4

In [62]:
model.predict ([[3,3,3,3]]) #try 3,3,3,3 masuk jenis yg mana

array(['virginica'], dtype=object)